.exchanges {
  padding: 80px 0px;
}
.cardTitle {
  display: flex;
  gap: 20px;
  align-items: center;
}
.exchangeLogo {
  border-radius: 50px;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  padding: 10px;
}
.exchangeTitle {
  margin: 0px;
  font-size: 24px;
  font-weight: 900;
}
.exchangeDetail {
  padding: 30px 12px 20px;
}
.exchangeDetail p {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
}
.exchangeCard {
  margin: 10px 0px;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px !important;
}
