.banner {
  background-image: url("../../assets/images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 700px;
  padding-top: 5rem;
}
.banner__title {
  font-size: 60px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
.banner__text {
  color: #fff;
  font-size: 30px;
  margin-top: 10px;
  text-align: center;
}
.banner__carousel {
  padding-top: 5rem;
}
